<main id="main">
  <div class="subtitle">
    I Almost Fail at Everything in My Life, Except Coding.
  </div>

  <p class="description">
    Hello everyone, my real name is Khaqul Huda. Welcome to the file called
    <code>index.html</code>, or as normal people call it: my resume. I spend my
    days writing trash programs while the world obsesses over bullshit statement
    “AI will replace programmers.” Yes, I know what you’re thinking: “Who
    willingly suffers with pointers, memory leaks, algorithm and data
    structures?” Me. That’s who. And I do it because I can. If you’re looking
    for someone who follows trends, well… keep scrolling. This isn’t the place.
  </p>
</main>
