<main>
  <div class="profile-image">
    <img
      src="https://avatars.githubusercontent.com/u/83181591?v=4"
      alt="Profile Image"
    />
  </div>

  <h1>asepbensin</h1>
  <p class="subtitle">I Write Codes Not Tragedies</p>

  <p class="description">
    I wrote this web server in C and HTMX, because who needs a 2 MB JavaScript
    framework and a bunch of node_modules just to load a div, right?
  </p>

  <div class="button-group">
    <a href="https://wa.me/62895621576020" class="btn btn-primary">
      Contact with Human <span class="arrow">›</span>
    </a>
    <a href="https://ai.asepbens.in" class="btn btn-secondary">
      Contact with AI <span class="arrow">›</span>
    </a>
  </div>
</main>
